<ngui-map  
  zoom="10" 
  center=""
  (mapClick)="mapClicked($event)"
  (mapReady$)="onMapReady($event)">
  <marker
      draggable="true"
      [position]="appService.state.markerCoords"
      (dragend)="placemarkDragEnd($event)">
  </marker>
</ngui-map>
<md-toolbar color="primary">
  <div class="menu">
    <button md-raised-button (click)="buttonClick()">
      <md-icon>input</md-icon> Ввести данные
    </button>
  </div>
</md-toolbar>
<div id="content"
  #content
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()"
  [scrollWindow]="false">
  <div class="image" *ngFor="let photo of appService.state.photos">
      <img src={{photo.src}} (click)="photoClick({photo: photo, photos: appService.state.photos})" />
      <a *ngIf="photo.owner_id > 0" [routerLink]="['/profile', photo.owner_id]">
        {{photo.created}}
      </a>
      <a *ngIf="photo.owner_id < 0" href="http://vk.com/club{{photo.owner_id * -1}}">
        {{photo.created}}
      </a>
  </div>
</div>
