<agm-map [latitude]="map.lat" [longitude]="map.lng" (mapClick)="mapClicked($event)">
  <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" [markerDraggable]="true" (dragEnd)="placemarkDragEnd($event)"></agm-marker>
</agm-map>
<div id="content"
  #content
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()"
  [scrollWindow]="false">
  <div class="image" *ngFor="let photo of state.photos">
      <img src={{photo.src}} />
      <a *ngIf="photo.owner_id > 0" [routerLink]="['/profile', photo.owner_id]">
        {{photo.created}}
      </a>
      <a *ngIf="photo.owner_id < 0" href="http://vk.com/club{{photo.owner_id * -1}}">
        {{photo.created}}
      </a>
  </div>
</div>
