<agm-map [latitude]="appService.state.mapCoords.lat" [longitude]="appService.state.mapCoords.lng" (mapClick)="mapClicked($event)">
  <agm-marker [latitude]="appService.state.markerCoords.lat" [longitude]="appService.state.markerCoords.lng" [markerDraggable]="true" (dragEnd)="placemarkDragEnd($event)"></agm-marker>
</agm-map>
<md-toolbar color="primary">
  <div class="menu">
    <button md-raised-button (click)="buttonClick()">
      <md-icon>input</md-icon> Ввести данные
    </button>
  </div>
</md-toolbar>
<div id="content"
  #content
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()"
  [scrollWindow]="false">
  <div class="image" *ngFor="let photo of appService.state.photos">
      <img src={{photo.src}} />
      <a *ngIf="photo.owner_id > 0" [routerLink]="['/profile', photo.owner_id]">
        {{photo.created}}
      </a>
      <a *ngIf="photo.owner_id < 0" href="http://vk.com/club{{photo.owner_id * -1}}">
        {{photo.created}}
      </a>
  </div>
</div>
