<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="map.lat" [longitude]="map.lng" (mapClick)="mapClicked($event)">
  <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" [markerDraggable]="true" (dragEnd)="placemarkDragEnd($event)"></agm-marker>
</agm-map>
<div id="content"
  #content
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()"
  [scrollWindow]="false">
  <div class="image" *ngFor="let photo of photos">
      <img src={{photo.src}} />
      <a href={{photo.src_big}} target="_blank">
          {{photo.created}}
      </a>
  </div>
</div>