agm-map {
  height: 300px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.menu{
    margin: 0 auto;
    width: 50px;
}

#content{
    position: absolute;
    top: 300px;
    bottom: 0px;
    background-color: #111;
    width: 100%;
    overflow-y: scroll;
}

.image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    padding: 0 0 0 0;
    position: relative;
    float: left;
    a {
        color: white; 
        font: bold 12px Helvetica, Sans-Serif; 
        letter-spacing: -1px;
        text-decoration: none;  
        background: rgba(0, 0, 0, 0.5);
        padding: 5px; 
        position: absolute; 
        bottom: 0px; 
        left: 0; 
        width: 100%; 
    }
    img {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}